@using Microsoft.Graph

@model IEnumerable<Team>
@{
    ViewData["Title"] = "Home Page";
}
<section>

    <h1>Teams Overview</h1>
    
    <div class="list-group">
        @foreach (var team in Model)
        {
            var isArchival =!(team.IsArchived.HasValue && team.IsArchived.Value);

            <form asp-action="ArchiveTeam" class="mb-3" onsubmit="return confirm('Please confirm if you want to @(isArchival? "archive": "unarchive") this team?');">
                <div class="ta-list-item">
                    @team.DisplayName

                    <input type="submit" class="btn btn-primary" value="@(isArchival? "Archive": "Unarchive")">
                </div>

                <input type="hidden" name="teamId" value="@team.Id">
                <input type="hidden" name="isArchival" value="@isArchival.ToString()">
            </form>
        }
    </div>
</section>